.login-form{
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #555555;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background: #f5f5f5;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.login-form .login-heading{
    padding-top: 20px;
    color: #04041a;
    font-weight: 600;
    padding-bottom: 10px;
}
.login-form input{
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin-top: 1rem;
    width: 80%;
    outline: none;
    border: 2px solid #cccccc;
    border-radius: 10px;
}
.login-form .btn{
    margin-top: 1rem;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    background: #04041a;
    color: aqua;
    border-radius: 5px;
    cursor: pointer;
}
.account{
    font-size: 15px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #555555;
}


@media (max-width: 768px){
    .login-form{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        background: #f5f5f5;
        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.24);
    }
}